{% extends 'ParroquiaCertificadoBundle::sacramento_index.html.twig' %}

{% set nombre_sacramento = 'Matrimonios' %}
{% set path_sacramento = 'matrimonio' %}

{% block personas_header %}
<th>Cónyuge 1</th>
<th>Cónyuge 2</th>
{% endblock %}

{% block personas_content %}
<td>{{ entity.conyuge1 }}</td>
<td>{{ entity.conyuge2 }}</td>
{% endblock %}
