{% extends '::base.html.twig' %}

{% set menu_title = 'Correo' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Correo']) }}
{% endblock %}

{% block body %}
<div class="title-wrapper"><h1>Correo</h1></div>

<p>En esta sección puede enviar e-mails a las personas ingresadas en el sistema.</p>

<p>IMPORTANTE: Es necesario que su cuenta de usuario tenga una persona asociada (con campo de e-mail completado) para poder enviar correos.</p>
{% endblock %}