{% extends '::base.html.twig' %}

{% set menu_title = 'Certificados' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Certificados']) }}
{% endblock %}
            
{% block body -%}
    <div class="title-wrapper"><h1>Certificados</h1></div>
    
    En esta secci칩n podr치s obtener certificados de:

    <ul>
        <li>Bautizo</li>
        <li>Confirmaci칩n</li>
        <li>Matrimonio</li>
        <li>Ministros de Comuni칩n (certificados generados sin quedar en historial)</li>
    </ul>    
{% endblock %}
