{% extends '::base.html.twig' %}

{% set menu_title = 'Comunidad' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Comunidad']) }}
{% endblock %}

{% block body -%}
    <div class="title-wrapper"><h1>Editar Persona</h1></div>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('persona') }}">
            Volver a la lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block javascripts %}
    <script>
        $( ".date" ).datepicker( "option", "yearRange", "c-100:c" );
    </script>
{% endblock %}