{% extends '::base.html.twig' %}

{% set menu_title = 'Comunidad' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Comunidad']) }}
{% endblock %}

{% block filters %}
<div class="filter">
    {{ render(controller('ParroquiaComunidadBundle:Grupo:filter')) }}
</div>
{% endblock %}

{% block body -%}
    <div class="title-wrapper"><h1>Grupos</h1></div>

    <div id="grupos_list">
        {% include 'ParroquiaComunidadBundle:Grupo:list.html.twig' with { 'entities' : entities } %}
    </div>

        <ul>
        <li>
            <a href="{{ path('grupo_new') }}">
                Agregar nuevo
            </a>
        </li>
    </ul>
{% endblock %}
    
{% block javascripts %}
    <script>
    var url_loading = "{{ asset('images/loading.gif') }}";

    $(function () {
        $('form').on('submit', function (e) {
            $("#grupos_list").html('<img src="' + url_loading + '" />');
            $.ajax({
                type: 'POST',
                url: $('form').attr('action'),
                data: $('form').serialize(),
                success: function (data) {
                  $("#grupos_list").empty();
                  $("#grupos_list").append(data);
                }
            });
            e.preventDefault();
        });
    });
  </script>
{% endblock %}
